<div class="row">
    <div class="col-md-3">
        <div class="row menu">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <button type="button" routerLink="/users" class="btn btn-success">Users</button>
            </div>
        </div>
        <div class="row menu">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <button type="button" routerLink="/items" class="btn btn-success">Items</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <a href="/api/logout" style="font-size:40px">Logout</a>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">Can you see the ACL ITEM? if not you are not admin and cannot manipulate this domain :(</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="selectUser(user)">
                            <td>{{items.id}}</td>
                            <td>{{items.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>