<div class="col-md-3">

</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" [(ngModel)]="email" class="form-control" aria-describedby="basic-addon2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" [(ngModel)]="password" id="password" class="form-control" aria-describedby="basic-addon2">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span class="label label-danger" *ngIf="errorMessage != ''">{{errorMessage}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="button" (click)="login()" class="btn btn-default" value="Login"/>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="col-md-3"></div>